@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat" Arial, sans-serif;
}

.header{
  display: flex;
  width: 100%;
  padding: none;
  margin: none;
  justify-content: space-between;
  box-shadow: 2px 10px 20px rgba(163, 163, 162, 0.295);
}

.nav-items{
  display: flex;
  width: 100%;
  padding: none;
  margin: none;
  direction: rtl;
  justify-content: space-between;
}

.logo {
  width: 70px;
  padding: 10px 40px;
}

.nav-items > ul {
  font-size: 17px;
  display: flex;
  list-style-type: none;
  padding-right: 40px;
  color: rgb(97, 94, 94);
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
  float: right;
}

.nav-items > ul > li:hover {
  color: #000000;
}

.searchbar {
  margin: 20px auto;
  display: flex;
  align-items: center;
  background-color: white;
  width: 40%;
  border: solid 1px rgba(204, 204, 204, 0.575);
  border-radius: 10px;
}

.searchicon {
  margin:0% 3%;
}

.searchBtn {
  margin: 0% 3%;
  font-family: "Montserrat" Arial, sans-serif;
  background-color: #ff7c12;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.searchbarinput {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  width: 100%;
  height: 30px;
  margin-right: 20px;
  padding: 10px 0px;
  font-family: "Montserrat" Arial, sans-serif;
  font-size: 20px;
  outline: none;
  color: #505050;
}

a {
  text-decoration: none;
  color: inherit;
}

.res-container {
  margin-left: calc(10% + 36px);
  margin-right: calc(10% + 36px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.cards-container {
  margin : 0px 10px;
}

.card {
  background-color: #fff;
  box-shadow: 10px 10px 40px 2px rgba(128, 128, 128, 0.15);
  margin-top: 20px;
  width: 300px;
  border-radius: 15px;
}

.card:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.card .card-media {
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
  object-fit: fill;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.card .card-media .delivery-time {
  position: absolute;
  background-color: #f5f5f5;
  max-width: 60px;
  padding: 3px 6px;
  font-size: 13px;
  right: 3%;
  bottom: 6%;
  border-radius: 4px;
}

.card .card-media .rating {
  position: absolute;
  font-size: 13px;
  border-radius: 4px;
  background-color: #0a6d0acc;
  color: #fff;
  font-weight: 700;
  text-align: center;
  max-width: 60px;
  left: 3%;
  bottom: 6%;
  padding: 3px 6px;
}

.card .card-description {
  padding: 0px 15px;
}
.card .card-description .about-place {
  display: inline-flex;
  justify-content:space-evenly;
  align-items: center;
}
.card .card-description .about-place .place-name {
  font-size: 17px;
  margin: 10px 0px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}

.card .card-description .about-place .place-speciality,
.card .card-description .about-place .location {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.97);
  line-height: 18px;
  overflow: hidden;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  
}

.topRatedRes {
  margin-left: calc(10% + 36px);
  margin-right: calc(10% + 36px);
  font-weight: 800;
  font-size: 24px;
}

.RestroCardShimmerArray {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.shine {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px; 
  display: inline-block;
  position: relative; 
  
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
  }

.shimmer-card-media {
    display: block!important;
    width: 325px; 
    height: 100px; 
    margin-top: 15px;
    background-color: #eaeaeb;
  }

  line {
    height: 10px;
    margin-top: 10px;
    width: 200px;
    background-color: white; 
  }

  @-webkit-keyframes placeholderShimmer {
    0% {
      background-position: -468px 0;
    }
    
    100% {
      background-position: 468px 0; 
    }
  }
  
